body {
  text-align: center;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
}

.screen {
  background-color: darkolivegreen;
  height: 100%;
  width: 100%;
}

#start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#start-screen .start-buttons {
  display: flex;
}

#start-screen button {
  width: 8rem;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.7rem;
  background-color: transparent;
  border: 2px solid white;
}

#game-screen {
  display: none;
}

.ui {
  background-color: black;
  width: 100%;
  height: 10vh;
}

#board {
  background-color: black;
  border-top: 5px solid skyblue;
  border-bottom: 5px solid skyblue;
}
